<!DOCTYPE html>
<!--This Page Shows The List OF Internships Added by the particular Teacher-->
<html lang="en">
    <head>
        <title>Added Internships</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width ,initial-scale=1">
        <!-- icon links-->
<link rel="apple-touch-icon" sizes="180x180" href="https://images.shiksha.com/mediadata/images/1570797731phpmvsqFA.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://images.shiksha.com/mediadata/images/1570797731phpmvsqFA.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://images.shiksha.com/mediadata/images/1570797731phpmvsqFA.png">
    	
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
         
<style type="text/css">
body{
    background-image: url("https://letsziv.com/wp-content/uploads/2017/10/Blue-background-of-Scraps-KC-Website-designed-by-ZIV-on-a-laptop.jpg");
    background-repeat: no-repeat;
   background-size: cover;
}
   .colo{
    color:darkgreen;
    font-weight: bolder;
   }
   .card-title{
       color: darkorchid;
       font-weight: bolder;
   }
   .card-header{
    color: black;
       font-weight: bolder;
   }
</style>
        </head>
        <body>
            <div>
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href=" ">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTANru68lv_RvwoCGrK0-Pl4eusfAr94G2V1Lk2tiIcWyYqoPp_" style="display:inline-block; width:15%"/>
                <span style="display:inline-block; color: white;
                text-shadow: 2px 2px 4px #000000">InternPort DSCE </span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#lists" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="lists">
                  <ul  class="navbar-nav ml-auto" >
                  
                  <li class="nav-item">
                   <a class="nav-link" href="/homeTeacher/<%= email %>">Go Back to home Page </a>
                  </li>
                  
                  </ul>
                  </div>
                </nav>
                </div>
            <% if (internships.length===0) { %>
                <div class="alert alert-danger alert-dismissible fade show">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>All Internships Deleted!</strong> Now You Can Add New Internships.
                  </div>
           <% }%>
            <% for(let i=0;i<internships.length;i++){ %>

                <div class="container">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="card">
                                <div class="card-header bg-info">
                                 <%= internships[i].internid %>
                                </div>
                                <div class="card-body">
                                  <h5 class="card-title">Details</h5>
                                  <p class="card-text "><span class="colo"> Internship name: </span><%= internships[i].internname %></p>
                                  <p class="card-text "><span class="colo">Internships duedate: </span><%= internships[i].duedate %></p>
                                  <p class="card-text"><span  class="colo">Company: </span><%= internships[i].company %></p>
                                  <p class="card-text"><span  class="colo">Skills required:</span> <%= internships[i].Skills %></p>
                                   <a href="/delete/<%= internships[i].internid %>/<%= email %>" class="btn btn-danger">Delete InternShip</a>
                                  <a href="/internselections/<%= email %>/<%= internships[i].internid %>" class="btn btn-info">See Student Applied</a>
                                  <a href="/selectedss/<%= internships[i].internid %>/<%= email %>" class="btn btn-success">See Students Selected</a>
                                </div>
                              </div>
                        </li>
                    </ul>
            
            </div>
        
             <% } %>
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
          
            </body>
            </html>