<!DOCTYPE html>
<!--This Page Is For The details of  Added Internship for the student-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="footer, address, phone, icons" />
	
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

	<link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <link rel="apple-touch-icon" sizes="180x180" href="https://images.shiksha.com/mediadata/images/1570797731phpmvsqFA.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://images.shiksha.com/mediadata/images/1570797731phpmvsqFA.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://images.shiks
    ha.com/mediadata/images/1570797731phpmvsqFA.png">
    <title>InternPort/Apply For Internships</title>
    <style type="text/css">
    body{
      background-image: url("https://i.pinimg.com/originals/f8/bb/fe/f8bbfef25043c674d907552e3acc9c9b.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    </style>
    </head>
    <body>
        <div>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href=" ">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTANru68lv_RvwoCGrK0-Pl4eusfAr94G2V1Lk2tiIcWyYqoPp_" style="display:inline-block; width:15%"/>
            <span style="display:inline-block; color: white;
            text-shadow: 2px 2px 4px #000000">InternPort DSCE </span>
            </a>
            </nav>
            </div>
              <div>
          <div class="container">
                 <ul class="list-group">
                        <li class="list-group-item">
                              <div class="card bg-sucess">
                                      <div class="card-header bg-info">
                                                 <%= skills.internid %>
                                                         </div>
                                                     <div class="card-body bg-sucess">
                                                          <h5 class="card-title" style="color:maroon; font-weight: bolder;">Details</h5>
                                                           <p class="card-text"><span style="color: purple; font-weight: bold;">Internship name:</span> <%= skills.internname %></p>
                                                           <p class="card-text"><span style="color: purple; font-weight: bold;">Apply By: </span> <%= skills.duedate %></p>
                                                           <p class="card-text"><span style="color: purple; font-weight: bold;">Company: </span><%= skills.company %></p>
                                                           <p class="card-text"><span style="color: purple; font-weight: bold;">Skills Required: </span> <%= skills.Skills %></p>
                                                         
                                                               <p class="card-text"><span style="color: purple; font-weight: bold;">Daily Work Duration: </span> <%= skills.DailyWorkdur %></p>
                                                               <p class="card-text"><span style="color: purple; font-weight: bold;">Stifund: </span> <%= skills.stifund %></p>
                                                              <p class="card-text"><span style="color: purple; font-weight: bold;">Location: </span> <%= skills.typofwork %></p>
                                                             <p class="card-text"><span style="color: purple; font-weight: bold;">Duration Of Work: </span> <%= skills.duration %></p>
                                                             <a href="/applyIntern/<%= usn %>" class="btn btn-primary">Back To Applying Page</a>
                                                               </div>
                                                             </div>
                                                            </li>
                                                        </ul>
                                                
                                                </div>
                                           </div>
         <!-- jquery and other tags-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   </body>
  </html>